.trailerWrapper {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
}

.trailerWrapper::before {
    content: '';
    background: none;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 768px) {
    .trailerWrapper::before {
        background: linear-gradient(to top, var(--color-bg) 0%, transparent 100%);
    }
}
