.filmWrapper {
    position: relative;
    width: 100%;
    /* TODO: this is a quick fix to push the page back up due to the padding on <main> */
    /*margin-top: calc(-1 * (var(--desktop-nav-height) + var(--desktop-section-spacing)));*/
}

.contentWrapper {
    position: relative;
    width: 100%;
}

.metaDataWrapper {
    margin-bottom: 32px;
}

@media (min-width: 768px) and (max-aspect-ratio: 16/9) {
    .contentWrapper {
        position: relative;
        transform: translateY(calc(-1 * (100vw / 16 * 9)));
    }
    .metaDataWrapper {
        width: 100%;
        aspect-ratio: 16/9;
    }
}

@media (min-width: 768px) and (min-aspect-ratio: 16/10) {
    .contentWrapper {
        position: relative;
        transform: translateY(calc(-1 * (100vw / 16 * 9)));
    }
    .metaDataWrapper {
        width: 100%;
        aspect-ratio: calc(10/4.2);
    }
}