.filmWrapper {
    position: relative;
    width: 100%;
}

.contentWrapper {
    position: relative;
    width: 100%;
}

.toolbarWrapper {
    position: fixed;
    left: 0;
    width: 100%;

    bottom: calc(var(--mobile-nav-bottom-height) + env(safe-area-inset-bottom)); /* TODO: magic number */
    z-index: 10;
    padding: 12px calc(var(--padding-side) + 6px); /* to push in, not to align with other items */

    background: linear-gradient(to top, var(--color-bg) 0%, transparent 100%);

    display: flex;
    justify-content: center;
    gap: 12px;
}

@media (min-width: 768px) {
    .toolbarWrapper {
        margin-top: 20px;
        position: relative;
        bottom: 0;
        width: fit-content;
        padding: 0;
        background: none;
    }
}

@media (min-width: 768px) and (max-aspect-ratio: 16/9) {
    .contentWrapper {
        position: relative;
        margin-top: calc(-1 * (100vw / 16 * 9));
    }
    .metaDataWrapper {
        width: 100%;
        aspect-ratio: 16/9;
    }
}

@media (min-width: 768px) and (min-aspect-ratio: 16/10) {
    .contentWrapper {
        position: relative;
        margin-top: calc(-1 * (100vw / 16 * 9));
    }
    .metaDataWrapper {
        width: 100%;
        aspect-ratio: calc(10/4.2);
    }
}