:root {
	/* Layout */
    --desktop-nav-height: 4.2rem;
    --mobile-nav-bottom-height: 60px;
    --mobile-nav-top-height: 3.8rem;
    --padding-side: clamp(20px, 3vw, 60px);
    --grid-item-gap: 1rem;
	--card-border-radius: 8px;

    /* Navigation */
    --navbar-height: 0px; /* calculated by active navbar */

    --pwa-top-nav-space: var(--space-s);
    --desktop-top-nav-space: var(--space-s);

    --control-height: 3.4rem;
    --control-border-radius: 4px;

	/* Colours */
	--gray-0: #fff;
	--gray-700: #696969;
	--gray-800: #171717;
	--gray-800-90: #171717E6;
  	--gray-900: #0E0E0E;

	--color-bg: var(--gray-900);

	--color-text-primary: var(--gray-0);

	--color-border: var(--gray-700);
	--color-border-hover: var(--gray-0);
	--color-card-bg: var(--gray-800);
	--color-nav-bg: var(--gray-800-90);

    /* icons */
    --icon-size-s: 32px;

    /* Spacings */
    --space-2xs: 0.25rem; /* 4px */
    --space-xs: 0.5rem; /* 8px */
    --space-s: 0.75rem; /* 12px */
    --space-m: 1rem; /* 16px */
    --space-l: 1.5rem; /* 24px */
    --space-xl: 2rem; /* 32px */
    --space-2xl: 2.5rem; /* 40px */

}

html {
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    background-color: var(--color-bg);
}
