* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	/* Layout */
    --desktop-nav-height: 4.2rem;
    --mobile-nav-bottom-height: 60px;
    --padding-side: clamp(20px, 3vw, 60px);
    --grid-item-gap: 1rem;
	--card-border-radius: 8px;

	/* Colours */
	--gray-0: #fff;
	--gray-700: #3E3E3E;
	--gray-800: #171717;
	--gray-800-90: #171717E6;
  	--gray-900: #0E0E0E;

	--color-bg: var(--gray-900);
	--color-text-primary: var(--gray-0);
	--color-border: var(--gray-700);
	--color-border-hover: var(--gray-0);
	--color-card-bg: var(--gray-800);
	--color-nav-bg: var(--gray-800-90);

    /* icons */
    --icon-size-s: 32px;

    /* Spacings */
    --space-xs: 0.25rem;
    --space-s: 0.5rem;
    --space-m: 1rem;
    --space-l: 2rem;
    --space-xl: 4rem;
}

/* Text form input */
.form-input-text {
    height: 46px;
    width: 100%;
    border-radius: var(--card-border-radius);
    padding-left: 4rem;
    padding-right: 4rem;

    background-color: var(--color-card-bg);
    border: 1px solid var(--color-border);

    font-size: 1rem;
    color: var(--color-text-primary);

    transition: border-color 0.25s;
}
.form-input-text:hover {
    border-color: var(--color-border-hover);
}
.form-input-text:focus {
    outline: none;
    border-color: var(--color-border-hover);
}

html {
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    background-color: var(--color-bg);
}
