.visualsWrapper {
    position: relative;
    margin-bottom: var(--space-xs);
}

.serviceOverlayWrapper {
    position: absolute;
    left: var(--space-s);
    bottom: var(--space-s);
    z-index: 10;
}

.posterWrapper {
    position: relative;
}

.posterWrapper::after {
    content: '';
    position: absolute;
    inset: 0;
    border: 2px solid transparent;
    border-radius: var(--card-border-radius);

    transition: border-color 0.25s ease;
}

.visualsWrapper:hover .posterWrapper::after {
    border-color: var(--color-border-hover);
}

.title {
    color: var(--color-text-primary);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
}

.subText {
    color: var(--color-text-primary);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-tight);
}

@media (min-width: 768px) {
    .title {
        font-size: var(--font-size-l);
    }
    .subText {
        font-size: var(--font-size-l);
    }
}
