.mediaCard {}

.imageWrapper {
    position: relative;
    aspect-ratio: 2/3;
}
.imageWrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    border-radius: var(--card-border-radius);
    border: 1px solid var(--color-border);

    transition: border 0.25s ease;
}
.imageWrapper:hover img {
    border-color: var(--color-border-hover);
}

.serviceOverlayWrapper {
    position: absolute;
    left: 12px; /* TODO: magic numbers */
    bottom: 12px;
}

.metaDataWrapper {}
