.profileWrapper {
    position: fixed; /* cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
