.filmImageWrapper {
    position: relative;
    aspect-ratio: 2/3;
    margin-bottom: 8px;
}

.film img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    border-radius: var(--card-border-radius);
    border: 1px solid #363636;
}

.film p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    user-select: none;
    margin-left: 2px;
    width: 100%;
}

.serviceWrapper {
    position: absolute;
    left: 12px;
    bottom: 12px;
}