.pageLoadingWrapper {
    position: fixed; /* cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageLoadingWrapper button {
    background: none;
    border: none;
    cursor: pointer;
}
