.watchlistBtn {
    border-radius: 50%;
    background-color: var(--color-card-bg);
    width: 3.2rem;
    height: 3.2rem;
    border: 1px solid var(--color-border);
    z-index: 100000;
}

.watchlistBtn svg {
    width: 2rem;
    height: 2rem;
}

.watchlistBtn.liked circle {
    fill: rgb(61, 214, 61);
}
.watchlistBtn.liked path {
    stroke: rgb(61, 214, 61);
}

.watchlistBtn.superLiked circle {
    fill: orange;
}
.watchlistBtn.superLiked path {
    stroke: orange;
}
