.watchlistBtn svg {
    width: var(--icon-size-s);
    height: var(--icon-size-s);
}

.watchlistBtn circle {
    fill: white;
}
.watchlistBtn path {
    stroke: white;
}

.watchlistBtn.liked circle {
    fill: rgb(61, 214, 61);
}
.watchlistBtn.liked path {
    stroke: rgb(61, 214, 61);
}

.watchlistBtn:hover {
    cursor: pointer;
    border: 1px solid var(--color-border-hover);
}
