.wrapper {
    width: 100%;
}

.logoWrapper {
    display: none;
}

.logoWrapper img {
    display: block;
    width: 100%;
}

.title {
    display: block;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
    color: var(--color-text-primary);
}

@media (min-width: 768px) {
    /* Show logo on large screens if available */
    .wrapper[data-has-logo='true'] .logoWrapper {
        display: block;
    }
    .wrapper[data-has-logo='true'] .title {
        display: none;
    }
}
