.loginContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--padding-side);
}

.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    max-width: 400px;

    background-color: var(--color-card-bg);
    border: 1px solid var(--color-border);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: var(--card-border-radius);
}

.loginWrapper h2 {
    font-size: 4rem;
    font-weight: 600;
    color: white;
    align-self: center;
    padding: 4rem;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
}
