.loginContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 100%;
    padding: 0 20px;
}

.loginForm h2 {
    font-size: 64px;
    color: white;
    align-self: center;
    margin-bottom: 32px;
}

.loginForm input {
    margin-bottom: 12px;
    height: auto;
    font-size: 20px;
    padding: 12px 16px;
    border-radius: 6px;
}

.loginForm button[type="submit"] {
    background-color: rgb(26, 42, 96);
    color: white;
    font-size: 20px;
    padding: 12px 16px;
    width: fit-content;
    border-radius: 6px;
    align-self: center;
}