.containerWrapper {
    position: relative;
}

.containerWrapper h2 {
    padding-left: var(--padding-side);
}

.scrollBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    padding: 0;

    background: white;
    border-radius: 50%;
    border: 1px solid #e5e5e5;

    cursor: pointer;
    transition: all 0.2s ease;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.icon {
    width: 24px;
    height: 24px;

    display: block;

    fill: none;

    stroke: #262626;
    stroke-width: 2;
    stroke-linecap: round;

    transition: stroke 0.2s ease;
}

.scrollBtnRight {
    right: 24px;
}
.scrollBtnLeft {
    left: 24px;
}

.container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    position: relative;
    padding: 0 var(--padding-side);
    gap: var(--grid-item-gap);

    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--padding-side);
    scroll-behavior: smooth;
}

.film {
    flex: 0 0 calc((100vw - calc(var(--padding-side) * 2) - (var(--grid-item-gap) * 2)) / 2);
    scroll-snap-align: start;
}

.film:last-child {
    margin-right: var(--grid-item-gap);
}

.filmImageWrapper {
    position: relative;
    aspect-ratio: 2/3;
    margin-bottom: 8px;
}

.film img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.film p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    user-select: none;
    margin-left: 2px;
    width: 100%;
}

.serviceWrapper {
    position: absolute;
    left: 12px;
    bottom: 12px;
}

@media (min-width: 576px) {
    .film {
        flex: 0 0 calc((100vw - calc(var(--padding-side) * 2) - (var(--grid-item-gap) * 3)) / 3);
    }
}

@media (min-width: 768px) {
    .film {
        flex: 0 0 calc((100vw - calc(var(--padding-side) * 2) - (var(--grid-item-gap) * 4)) / 4);
    }
}

@media (min-width: 1024px) {
    .film {
        flex: 0 0 calc((100vw - calc(var(--padding-side) * 2) - (var(--grid-item-gap) * 5)) / 5);
    }
}

@media (min-width: 1200px) {
    .film {
        flex: 0 0 calc((100vw - calc(var(--padding-side) * 2) - (var(--grid-item-gap) * 6)) / 6);
    }
}

@media (min-width: 1400px) {
    .film {
        flex: 0 0 calc((100vw - calc(var(--padding-side) * 2) - (var(--grid-item-gap) * 7)) / 7);
    }
}
