.containerWrapper {
    position: relative;
}

.container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    position: relative;
    padding: 0 var(--padding-side);
    gap: var(--grid-item-gap);
}

.item {
    flex: 0 0 calc((100vw - calc(var(--padding-side) * 2) - (var(--grid-item-gap) * 2)) / 2);
    aspect-ratio: 2/3;
    background-color: red;
}

.item:last-child {
    margin-right: 20px;
}

.item:last-child {
    margin-right: 60px;
}

@media (min-width: 576px) {
    .item {
        flex: 0 0 calc((100vw - calc(var(--padding-side) * 2) - (var(--grid-item-gap) * 3)) / 3);
    }
}

@media (min-width: 768px) {
    .item {
        flex: 0 0 calc((100vw - calc(var(--padding-side) * 2) - (var(--grid-item-gap) * 4)) / 4);
    }
}

@media (min-width: 1024px) {
    .item {
        flex: 0 0 calc((100vw - calc(var(--padding-side) * 2) - (var(--grid-item-gap) * 5)) / 5);
    }
}

@media (min-width: 1200px) {
    .item {
        flex: 0 0 calc((100vw - calc(var(--padding-side) * 2) - (var(--grid-item-gap) * 6)) / 6);
    }
}

@media (min-width: 1400px) {
    .item {
        flex: 0 0 calc((100vw - calc(var(--padding-side) * 2) - (var(--grid-item-gap) * 7)) / 7);
    }
}
