.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--desktop-padding);
    position: fixed;
    width: 100%;
    height: var(--desktop-nav-height);
    z-index: 100;

    transition: background-color 0.5s, border-bottom 0.5s, backdrop-filter 0.5s;
}

.navbarFullOpacity {
    background-color: var(--color-nav-bg);
    border-bottom: 1px solid var(--color-border);
    backdrop-filter: blur(20px);
}
.navbarFadedOpacity {
    background-color: none;
    border-bottom: 1px solid transparent;
    backdrop-filter: blur(0px);
}

.left {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
}

.dashboardLink {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 2px solid transparent;
    text-decoration: none;

    transition: color 0.25s;
}

.dashboardLink:hover {
    color: white;
}

.dashboardLink:visited {
    color: rgba(255, 255, 255, 0.8);
}

.dashboardLinkActive  {
    color: white;
    border: 2px solid var(--accent-color);
}

.searchIcon {
    width: 2rem;           /* total size including padding */
    height: 2rem;
    display: flex;          /* center icon inside */
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    background: transparent; 
}

.searchIcon svg {
    width: 60%;
    height: 60%;
}

.profileLink {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: rgb(85, 85, 85);
    overflow: hidden;
}

.profileLink img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profileLink:hover {
    outline: 2px solid var(--accent-color);
    outline-offset: 0;
}

.profileLinkActive {
    outline: 2px solid var(--accent-color);
    outline-offset: 0;
}

/* Search Link */
.searchLink {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
}

.searchLink:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.searchLinkActive {
    border: 2px solid var(--accent-color);
}

.searchLink svg {
    width: 1rem;
    height: 1rem;
    color: rgba(255, 255, 255, 0.8);
}