.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    cursor: pointer;
    height: var(--control-height);
    padding: 0 1.5rem;
    font-size: 1.125rem;

    border-radius: var(--control-border-radius);
}

/* PRIMARY */
.primary {
    color: white;
    background-color: var(--color-card-bg);
    border: 1px solid var(--color-border);
}

.primary:hover {
    border-color: white;
}

/* SECONDARY */
.secondary {
    color: white;
    background-color: red;
}
.secondary:hover {
    background-color: rgb(201, 0, 0);
}

.button:disabled {
    opacity: 0.6;
    color: red;
}

.nonInteractive {
    cursor: default;
}
.nonInteractive:hover {
    border-color: var(--color-border);
}

.iconOnly {
    padding: 0;
    height: var(--control-height);
    width: var(--control-height);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.iconWrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}
