.serviceImageWrapper {
    /*
    width: 48px;
    height: 48px;
    */
    width: 2rem;
    height: 2rem;
}

.serviceImageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 0 0 5px black;
    border-radius: 6px;
}