.film {
    display: flex;
    width: 100%;
    aspect-ratio: 6/2;
    border-bottom: 1px solid var(--color-border);
    border-bottom-left-radius: var(--card-border-radius);
}

.filmPosterWrapper {
    height: 100%;
    aspect-ratio: 2/3;
}

.filmPosterWrapper img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: var(--card-border-radius);
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    border: 1px solid var(--color-border);
    border-bottom: none;
}

.filmMetadataWrapper {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

@media (min-width: 768px) {
    .film {
        border: 1px solid var(--color-border);
        border-radius: var(--card-border-radius);
        background-color: var(--color-card-bg);

        transition: border-color 0.25s ease;
    }
    .film:hover {
        border-color: var(--color-border-hover);
    }
    .filmPosterWrapper img {
        border: none;
        border-top-right-radius: 0;
    }
}