.film {
    display: flex;
    aspect-ratio: 6/2;
    border-bottom: 1px solid var(--color-border);
}

.filmPosterWrapper {
    height: 100%;
    aspect-ratio: 2/3;
}

.filmMetadataWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-2xs);

    padding: 0 var(--space-m);
}

.title {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
    color: var(--color-text-primary);
}

.release {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-tight);
    color: var(--color-text-primary);
}

@media (min-width: 768px) {
    .film {
        border: 1px solid var(--color-border);
        border-radius: var(--card-border-radius);
        background-color: var(--color-card-bg);

        transition: border-color 0.25s ease;
    }
    .film:hover {
        border-color: var(--color-border-hover);
    }
}
