.wrapper {
    position: fixed;
    bottom: calc(var(--mobile-nav-bottom-height) + env(safe-area-inset-bottom));
    padding: 12px 0; /* TODO: magic numbers, spacing between bottom */

    display: flex;
    justify-content: center;
    gap: var(--grid-item-gap);

    width: 100%;
    z-index: 3;
    
    background: linear-gradient(to top, var(--color-bg) 0%, transparent 100%);
}

@media (min-width: 768px) {
    .wrapper {
        position: relative;
        bottom: 0;
        padding: 0;

        justify-content: flex-start;

        background: none;
    }
}
