.wrapper {
    display: flex;
    gap: var(--grid-item-gap);

    position: fixed;
    bottom: 0;
    z-index: 3;
    width: 100%;
    justify-content: center;
}


@media (min-width: 768px) {
    .wrapper {
        position: relative;
        justify-content: flex-start;
    }
}
