.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px; /* TODO: magic number */
}

.metaDataContainer {
    display: flex;
    align-items: center;
    gap: 20px; /* TODO: magic number */
}

.posterContainer {
    width: 30%;
}

.titleContainer > :nth-child(2) {
    margin-bottom: var(--space-s);
}

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
    }
    .metaDataContainer {
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
    }
    .posterContainer {
        display: none;
        width: 0;
    }
    .overviewContainer {
        display: flex;
        width: 50%;
        align-items: flex-end;
    }
    .titleContainer > :nth-child(2) {
        margin-bottom: 0;
    }
    .titleContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
}
