.navBottomWrapper {
	padding-bottom: 30px; /* iOS safe area */
	position: fixed;
	background-color: var(--primary-color);
	z-index: 100;
	bottom: 0;
	width: 100%;
}

.navBottom {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50px;
	width: 100%;
}

.navBottom a {
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	cursor: pointer;
}

.navBottom a img {
	width: 23px;
	height: 23px;
	margin-bottom: 5px;
}

.navBottom a p {
	font-family: 'Inter', sans-serif;
	font-size: 10px;
	color: white;
}
