.navBottomWrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--color-nav-bg);
  backdrop-filter: blur(20px);
  border-top: 0.5px solid var(--color-border);
  padding-bottom: env(safe-area-inset-bottom); /* safe zone for home buton on mobile */
  z-index: 100;
}

.navBottom {
  display: flex;
  height: var(--mobile-nav-bottom-height);
}

.navBottom a {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgba(255,255,255,0.6);
}

.active svg, .active p {
	color: white;
}

.navBottom a svg {
  width: 22px;
  height: 22px;
  margin-bottom: 6px;
}

.navBottom a p {
  font-size: 11px;
  margin: 0;
}