.navTop {
    width: 100%;
    height: 56px;
    background-color: #0C1821;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navTop h1 {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.1%;
    color: white;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.searchBar {
    height: 40px;
    width: calc(100vw - 40px);
    padding: 20px 20px;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;

    background-color: #E4E4E4;
    border: 1px solid #A3A3A3;

    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.searchBar:focus {
    outline: none;
}

.searchIcon {
    position: absolute;
    left: 32px;
    top: 18px;
    fill: black;
    opacity: 0.6;
    width: 20px;
    height: 20px;
}

.clearIcon {
    position: absolute;
    right: 32px;
    top: 17px;
    fill: black;
    opacity: 0.6;
    width: 22px;
    height: 22px;
}
