.searchBarForm {
    width: 100%;
    position: relative;
    height: 4rem;
}

.searchBarInput {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-left: 4rem;
    padding-right: 4rem;

    background-color: #18161E;
    border: 1px solid #2F2D34;

    font-size: 1.2rem;
    color: white;
    font-family: 'Inter', sans-serif;
}

.searchBarInput:hover {
    border: 1px solid white;
}

.searchBarInput:focus {
    outline: none;
    border: 1px solid white;
}

.searchIconContainer {
    height: 100%;
    width: 4rem;
    background-color: none;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.searchIcon {
    display: block;
    fill: white;
    width: 1.2rem;
    height: 1.2rem;
}

.clearIconContainer {
    height: 100%;
    width: 4rem;
    background-color: none;

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
    cursor: pointer;
}

.clearIcon {
    display: block;
    fill: white;
    width: 1.2rem;
    height: 1.2rem;
}
