.searchBarForm {
    width: 100%;
    position: relative;
    
}

.searchIconContainer {
    height: 100%;
    width: 4rem;
    background-color: none;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.searchIcon {
    display: block;
    fill: white;
    width: 1.2rem;
    height: 1.2rem;
}

.clearIconContainer {
    height: 100%;
    width: 4rem;
    background-color: none;

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
    cursor: pointer;
}

.clearIcon {
    display: block;
    fill: white;
    width: 1.2rem;
    height: 1.2rem;
}
