.searchBarForm {
    width: 100%;
    position: relative;
}

.iconContainer {
    height: 100%;
    width: 4rem;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}

.searchIcon {
    left: 0;
    top: 0;
}

.searchIcon svg {
    display: block;
    fill: white;
    width: 1.2rem;
    height: 1.2rem;
}

.clearIcon {
    right: 0;
    top: 0;

    background: none;
    border: none;
    cursor: pointer;
}

.clearIcon svg {
    display: block;
    fill: white;
    width: 1.2rem;
    height: 1.2rem;
}
