.searchBarForm {
    width: 100%;
    position: relative;
    height: 4rem;
}

.searchBarInput {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-left: 4rem;
    padding-right: 4rem;

    background-color: #E4E4E4;
    border: 1px solid #A3A3A3;

    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
}

.searchBarInput:focus {
    outline: none;
}

.searchIconContainer {
    height: 100%;
    width: 4rem;
    background-color: none;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.searchIcon {
    display: block;
    fill: black;
    width: 1.2rem;
    height: 1.2rem;
}

.clearIconContainer {
    height: 100%;
    width: 4rem;
    background-color: none;

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
    cursor: pointer;
}

.clearIcon {
    display: block;
    fill: black;
    width: 1.2rem;
    height: 1.2rem;
}
