
.filmsGridWrapper {
    width: 100%;
    height: auto;
}

.filmsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--grid-item-gap);
}

.fade {
    opacity: 0.5;
}

@media (min-width: 576px) {
    .filmsGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) {
    .filmsGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1024px) {
    .filmsGrid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1200px) {
    .filmsGrid {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1400px) {
    .filmsGrid {
        grid-template-columns: repeat(7, 1fr);
    }
}