
.filmsGridSection {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.filmsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* always 2 columns */
    gap: 20px;                             /* 20px gap between columns */
    padding: 0 20px;                       /* 20px padding left & right */
}

.film {}

.filmImageWrapper {
    position: relative;
    aspect-ratio: 2 / 3;
}

.film img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.film p {
    user-select: none;
}

.fade {
    opacity: 0.5;
}

.serviceWrapper {
    position: absolute;
    left: 12px;
    bottom: 12px;
}

@media (min-width: 768px) {
    .filmsGrid {
        grid-template-columns: repeat(4, 1fr); /* 4 columns on larger screens */
    }
}

@media (min-width: 1024px) {
    .filmsGrid {
        grid-template-columns: repeat(6, 1fr); /* 6 columns on even larger screens */
    }
}