
.filmsGridSection {
    width: 100%;
    height: auto;
}

.filmsGridSection h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: white;
    
    margin-bottom: 24px;
    padding: 0 20px;
}

.filmsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* always 2 columns */
    gap: 20px;                             /* 20px gap between columns */
    padding: 0 20px;                       /* 20px padding left & right */
}

.film {
    margin-bottom: 30px;
}

.filmImageWrapper {
    position: relative;
    aspect-ratio: 2 / 3;
}

.film img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.film p {
    color: white;
    font-size: 20px;
    user-select: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.fade {
    opacity: 0.5;
}

.serviceWrapper {
    position: absolute;
    left: 12px;
    bottom: 12px;
}
