
.filmsGridWrapper {
    width: 100%;
    height: auto;
}

.filmsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.film {}

.filmImageWrapper {
    position: relative;
    aspect-ratio: 2 / 3;
    display: block;
}

.film img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.film p {
    user-select: none;
}

.fade {
    opacity: 0.5;
}

.serviceWrapper {
    position: absolute;
    left: 12px;
    bottom: 12px;
}

@media (min-width: 576px) {
    .filmsGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) {
    .filmsGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1024px) {
    .filmsGrid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1200px) {
    .filmsGrid {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1400px) {
    .filmsGrid {
        grid-template-columns: repeat(7, 1fr);
    }
}