.mobilePaddingTop {
    padding-top: var(--mobile-section-spacing);
}
.mobilePaddingBottom {
    padding-bottom: calc(var(--mobile-nav-bottom-height) + env(safe-area-inset-bottom));
}

.desktopPaddingTop {
    padding-top: calc(var(--desktop-nav-height) + var(--desktop-section-spacing));
}