
/*
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

/*
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--desktop-padding: 60px;
	--desktop-nav-height: 4.2rem;
	--desktop-section-spacing: 2rem;

    --primary-color: #14111D;
	--secondary-color: #1E1B26;
	--accent-color: #71282F;
}

html {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    width: 100%;
    background-color: var(--secondary-color);
}

main {
    padding-top: 56px; /* To appear below nav bar */
    padding-bottom: 80px; /* To appear above bottom nav bar */
    /*margin-top: 32px;*/
    position: relative;
}

@media (min-width: 768px) {
	main {
		padding-top: calc(var(--desktop-nav-height) + var(--desktop-section-spacing));
	}
}

section {
	margin-bottom: var(--desktop-section-spacing);
}

.section-with-padding {
	padding: 0 var(--desktop-padding);
}

a {
  color: inherit; 
  text-decoration: none; 
}

a:visited {
  color: inherit;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: white;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: white;
}
