* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	/* Layout */
    --desktop-nav-height: 4.2rem;
    --mobile-nav-bottom-height: 60px;
    --padding-side: clamp(20px, 3vw, 60px);
    --grid-item-gap: 1rem;
	--card-border-radius: 8px;

	/* Colours */
	--gray-0: #fff;
	--gray-700: #3E3E3E;
	--gray-800: #171717;
	--gray-800-90: #171717E6;
  	--gray-900: #0E0E0E;

	--color-bg: var(--gray-900);
	--color-text-primary: var(--gray-0);
	--color-border: var(--gray-700);
	--color-border-hover: var(--gray-0);
	--color-card-bg: var(--gray-800);
	--color-nav-bg: var(--gray-800-90);

    /* Text Sizes */
    --font-size-xxs: 0.6875rem;
    --font-size-xs: 0.75rem;
    --font-size-s: 0.8125rem;
	--font-size-sm: 0.9375;
    --font-size-md: 1rem;
    --font-size-lm: 1.25rem;
    --font-size-l: 1.375rem;

	/* Font weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Spacings */
    --space-s: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lm: 24px;
    --space-l: 32px;
	
	--section-spacing: var(--space-l);

    /* icons */
    --icon-size-s: 32px;
}

/* buttons */
.button {
  background-color: var(--color-card-bg);
  border: 1px solid var(--color-border);
  border-radius: var(--card-border-radius);

  color: white;

  display: flex; 
  align-items: center;
  justify-content: center;

  height: 3.2rem;
  gap: 1rem;
  padding: 0 1.5rem;

  transition: 0.25s ease;
}
.button-circle {
  border-radius: 50%;
  width: 3.2rem; 
  padding: 0;
}
.button-hover {
  cursor: pointer;
}

/* layout spacings */
.section-with-mb {
	margin-bottom: var(--section-spacing);
}
.section-with-px {
	padding: 0 var(--padding-side);
}

/* media */
.media-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.media-img-border {
  border-radius: var(--card-border-radius);
  border: 1px solid var(--color-border);

  transition: border 0.25s ease;
}

/* Text sizes classes */
.text-xxs {
	font-size: var(--font-size-xxs); /* 11px */
	letter-spacing: 2%;
}
.text-xs {
	font-size: var(--font-size-xs); /* 12px */
	letter-spacing: 2%;
}
.text-s {
    font-size: var(--font-size-s); /* 13px */
	letter-spacing: 2%;
}
.text-sm {
	font-size: var(--font-size-sm); /* 15px */
	letter-spacing: 2%;
}
.text-md {
	font-size: var(--font-size-md); /* 16px */
	line-height: 1.5;
	letter-spacing: 2%;
}
.text-lm {
	font-size: var(--font-size-lm); /* 20px */
	letter-spacing: 2%;
}
.text-l {
	font-size: var(--font-size-l); /* 22px */
	line-height: 1.1;
	letter-spacing: 2%;
}

/* Font weight classes */
.font-regular {
	font-weight: var(--font-weight-regular);
}
.font-bold {
	font-weight: var(--font-weight-bold);
}

/* margins */
.mb-0 {
	margin-bottom: 0px;
}
.mb-4 {
	margin-bottom: 4px;
}
.mb-8 {
	margin-bottom: 8px;
}
.mb-12 {
	margin-bottom: 12px;
}
.mb-16 {
	margin-bottom: 16px;
}

/* Text colours */
.text-color-primary {
	color: var(--color-text-primary);
}
.text-color-primary-80 {
	color: rgba(255, 255, 255, 0.8);
}

/* Text form input */
.form-input-text {
    height: 46px;
    width: 100%;
    border-radius: var(--card-border-radius);
    padding-left: 4rem;
    padding-right: 4rem;

    background-color: var(--color-card-bg);
    border: 1px solid var(--color-border);

    font-size: 1rem;
    color: var(--color-text-primary);

    transition: border-color 0.25s;
}
.form-input-text:hover {
    border-color: var(--color-border-hover);
}
.form-input-text:focus {
    outline: none;
    border-color: var(--color-border-hover);
}

html {
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    background-color: var(--color-bg);
}
