
/*
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

/*
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
  	border-color: #646cff;
}
button:focus,
button:focus-visible {
  	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
}
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	/* Layout */
    --desktop-padding: 60px;
    --desktop-nav-height: 4.2rem;
    --desktop-section-spacing: 2rem;

    --mobile-nav-bottom-height: 60px;
    --mobile-padding: 20px;
    --mobile-section-spacing: 2rem;

    --padding-side: clamp(20px, 3vw, 60px);
    --grid-item-gap: 1rem;

	--card-border-radius: 8px;

	/* Colours */
	--gray-0: #fff;
	--gray-700: #3E3E3E;
	--gray-800: #171717;
	--gray-800-90: #171717E6;
  --gray-900: #0E0E0E;

	--color-bg: var(--gray-900);

	--color-text-primary: var(--gray-0);

	--color-border: var(--gray-700);
	--color-border-hover: var(--gray-0);
	
	--color-card-bg: var(--gray-800);

	--color-nav-bg: var(--gray-800-90);

    /* Text Sizes */
    --font-size-xxs: 0.6875rem;
    --font-size-xs: 0.75rem;
    --font-size-s: 0.8125rem;
	--font-size-sm: 0.9375;
    --font-size-md: 1rem;
    --font-size-lm: 1.25rem;
    --font-size-l: 1.375rem;

	/* Font weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

/* Text sizes classes */
.text-xxs {
	font-size: var(--font-size-xxs); /* 11px */
	letter-spacing: 2%;
}
.text-xs {
	font-size: var(--font-size-xs); /* 12px */
	letter-spacing: 2%;
}
.text-s {
    font-size: var(--font-size-s); /* 13px */
	letter-spacing: 2%;
}
.text-sm {
	font-size: var(--font-size-sm); /* 15px */
	letter-spacing: 2%;
}
.text-md {
	font-size: var(--font-size-md); /* 16px */
	line-height: 1.5;
	letter-spacing: 2%;
}
.text-lm {
	font-size: var(--font-size-lm); /* 20px */
	letter-spacing: 2%;
}
.text-l {
	font-size: var(--font-size-l); /* 22px */
	line-height: 1.1;
	letter-spacing: 2%;
}

/* Font weight classes */
.font-regular {
	font-weight: var(--font-weight-regular);
}
.font-bold {
	font-weight: var(--font-weight-bold);
}

/* margins */
.mb-0 {
	margin-bottom: 0px;
}
.mb-4 {
	margin-bottom: 4px;
}
.mb-8 {
	margin-bottom: 8px;
}
.mb-12 {
	margin-bottom: 12px;
}
.mb-16 {
	margin-bottom: 16px;
}

.text-color-primary {
	color: var(--color-text-primary);
}
.text-color-primary-80 {
	color: rgba(255, 255, 255, 0.8);
}

html {
    font-family: 'Inter', sans-serif;
    /* line-height: 1.5; */
    font-weight: 400;
}

body {
    width: 100%;
    background-color: var(--color-bg);
}




section {
	  margin-bottom: var(--desktop-section-spacing);
}

.section-with-padding {
	  padding: 0 var(--padding-side);
}
