.SearchResultsWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--grid-item-gap);
}

.SearchResultsWrapper a {
    text-decoration: none;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
}

.noFilmsWrapper {
    width: 100%;
    height: calc(100vh - 50px - 30px - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.film {
    display: flex;
    width: 100%;
    aspect-ratio: 6/2;
    border-bottom: 1px solid var(--color-border);
    border-bottom-left-radius: var(--card-border-radius);
}

.filmPosterWrapper {
    height: 100%;
    aspect-ratio: 2/3;
}

.filmPosterWrapper img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: var(--card-border-radius);
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    border: 1px solid var(--color-border);
    border-bottom: none;
}

.filmMetadataWrapper {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

@media (min-width: 768px) {
    .SearchResultsWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .film {
        border: 1px solid var(--color-border);
        border-radius: var(--card-border-radius);
        background-color: var(--color-card-bg);

        transition: border 0.25s;
    }
    .film:hover {
        border: 1px solid var(--color-border-hover);
    }
    .filmPosterWrapper img {
        border: none;
        border-top-right-radius: 0;
    }
}

@media (min-width: 1200px) {
    .SearchResultsWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
