.SearchResultsWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--grid-item-gap);
}

.SearchResultsWrapper a {
    text-decoration: none;
}

.noFilmsWrapper {
    width: 100%;
    height: calc(100vh - 50px - 30px - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 768px) {
    .SearchResultsWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .SearchResultsWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

.loadingWrapperNew {
    position: relative;

    width: 100%;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 1 / -1;
}
