.SearchResultsWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--grid-item-gap);
}

.SearchResultsWrapper a {
    text-decoration: none;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
}

.noFilmsWrapper {
    width: 100%;
    height: calc(100vh - 50px - 30px - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.noFilmsWrapper p {
    color: white;
    opacity: 0.6;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.film {
    display: flex;
    width: 100%;
    aspect-ratio: 6/2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom-left-radius: 10px;
}

.filmPosterWrapper {
    height: 100%;
    aspect-ratio: 2/3;
}

.filmPosterWrapper img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: none;
}

.filmMetadataWrapper {
    padding: 0 12px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filmMetadataWrapper h3 {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.filmMetadataWrapper .releaseYear {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
    margin-top: 2px;
}

.filmMetadataWrapper .director {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8rem;
    margin-top: 2px;
}

@media (min-width: 768px) {
    .SearchResultsWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .film {
        border: 1px solid #2F2D34;
        border-radius: 10px;
        background-color: #18161E;

        transition: border 0.25s;
    }
    .film:hover {
        border: 1px solid white;
    }
    .filmPosterWrapper img {
        border: none;
        border-top-right-radius: 0px;
    }
}

@media (min-width: 1200px) {
    .SearchResultsWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}