.personImageWrapper {
    position: relative;
    aspect-ratio: 2/3;
    margin-bottom: 8px;
}

.person img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    border-radius: var(--card-border-radius);
    border: 1px solid var(--color-border);

    transition: border 0.25s;
}
.person:hover img {
    border: 1px solid var(--color-border-hover);
}

.person p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    user-select: none;
    margin-left: 2px;
    width: 100%;
}
