/* Bottom Tools Bar */
.bottomToolsBlur {
    position: fixed;
    z-index: 99;
    bottom: 80px;
    width: 100%;
    height: 150px;
    
    background-color: #15293E;
    
    -webkit-mask-image: linear-gradient(to top,#0C1821 10%,transparent 80%);
    mask-image: linear-gradient(to top,#0C1821 10%,transparent 80%);
}

.bottomTools {
    position: fixed;
    z-index: 100;
    bottom: 80px;
    width: 100%;
    padding: 12px 12px;
    display: flex;
    gap: 12px;
}

.bottomTools .serviceContainer {
    flex: 1;
    height: 56px;
    background-color: #0C1821;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 1px solid rgb(114, 114, 114);
}

.bottomTools .serviceContainer span {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

/* Main Content */
.trailerWrapper {
    width: 100%;
    height: auto;
}

.bannerPosterWrapper {
    width: 100%;
    height: 219px;
}

.bannerPosterWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.contentWrapper {
    width: 100%;
    height: auto;
    background-color: #15293E;
    display: block;
    padding: 20px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.overviewContentWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.posterWrapper {
    height: 120px;
    width: 80px;
    flex-shrink: 0;
}
.posterWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.metaDataWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.metaDataWrapper h2 {
    font-family: 'inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.metaDataWrapper .info {
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
}

.roleWrapper {
    margin-top: 12px;
    display: flex;
    align-items: end;
    gap: 6px;
}

.dirWrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.roleWrapper .title {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.roleWrapper .name {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: white;
}

.synopsis {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    max-height: 150px;
    overflow: auto;
    margin-top: -4px;
}

.genreWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}

.genreWrapper p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    background-color: #113d5f;
    border: 1px solid #2074CC;
    padding: 3px 10px;
    border-radius: 16px;
}

.ratingsWrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.ratingContainer {
    flex: 1;
    /*aspect-ratio: 0.8;*/
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #0b2234;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
}

.ratingContainer .ratingIcon {
    height: 20px;
    width: auto;
    margin-bottom: 6px;
}

.ratingContainer .ratingValue .value {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 6px;
    font-weight: 600;
}

.ratingContainer .ratingValue .apendage {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    color: white;
    font-weight: 600;
}

.ratingContainer .metacritic {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: white;
}

.ratingContainer .metacriticIcon {
    color: #262626;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    background-color: #00CE7A;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 6px;
}

#imdbApendage {
    color: rgba(255, 255, 255, 0.5);
}

.ratingContainer .count {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.peopleWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.peopleWrapper .title {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    margin-bottom: -4px;
}

.castGrid {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 12px;
    overflow: scroll;
}

.castImageWrapper {
    height: 150px;
    width: 100px;
    margin-bottom: 6px;
}

.castImageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.cast .name {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: white;
}

.cast .character {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}

.crewWrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.crewWrapper p {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 13px;
}

.crewWrapper .name {
    opacity: 0.6;
}

.serviceWrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
