.main {
    padding: var(--padding-side);
    padding-bottom: calc(var(--mobile-nav-bottom-height) + env(safe-area-inset-bottom) + var(--padding-side));
    padding-top: calc(
        var(--mobile-nav-top-height) + 
        env(safe-area-inset-top) + 
        var(--control-height) +
        var(--space-m) +
        var(--padding-side)
    );
}

@media (min-width: 768px) {
    .main {
        padding-top: calc(var(--desktop-nav-height) + 32px); /* TODO: magic number */
        padding-bottom: var(--padding-side);
    }
}
