.filmsGridSection {
    width: 100%;
    height: auto;
    margin-bottom: 32px;
    position: relative;
}

.filmsGridSection h2 {
    font-size: 34px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: white;
    
    margin-bottom: 16px;
    padding: 0 20px;
}

.filmsGrid {
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* remove scroll bar Firefox */
    align-items: end;
}

/* remove scroll bar */
.filmsGrid::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, Edge */
}

.film {
    margin-right: 4px; 
    flex-shrink: 0;
    scroll-snap-align: start;
    padding-left: 20px;
    z-index: 2;
}

#film-last {
    padding-right: 20px;
}

.filmImageWrapper {
    position: relative;
    width: 200px;
    height: 300px;
    margin-bottom: 8px;
}

.film img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.film p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    user-select: none;
    margin-left: 2px;
    width: 100%;
}

.serviceWrapper {
    position: absolute;
    left: 12px;
    bottom: 12px;
}
